<div class="row">
    <div class="col-xl-4 col-md-4 col-xs-10 col-xl-offset-4 col-md-offset-4 col-xs-offset-1">
        <h3 class="widget-login-logo animated fadeInUp">Login</h3>
        <section class="widget widget-login animated fadeInUp">
                <form (ngSubmit)="onSubmit(loginForm.value)" [ngFormModel]="loginForm" class="login-form">
                   
        
                    <div class="form-group">
                        <label for="login-email">Email</label>
                        <input type="text" [ngFormControl]="loginForm.controls['email']" #email="ngForm" class="form-control" id="login-email">
                    </div>
                    <div *ngIf="email.control.hasError('required') && email.control.touched" class="alert alert-danger">
                        Email is required
                    </div>
                    <div *ngIf="email.control.hasError('email') && email.control.touched" class="alert alert-danger">
                        Email is invalid
                    </div>
        
                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input type="password" [ngFormControl]="loginForm.controls['password']" #password="ngForm" class="form-control" id="login-password">
                    </div>
                    <div *ngIf="password.control.hasError('required') && password.control.touched" class="alert alert-danger">
                        Password is required
                    </div>
        
                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
                </form>
        </section>
    </div>
</div>