<div class="row">
    <div class="col-xl-4 col-md-4 col-xs-10 col-xl-offset-4 col-md-offset-4 col-xs-offset-1">
        <h3 class="widget-login-logo animated fadeInUp">Login</h3>
        <section class="widget widget-login animated fadeInUp">
            <form (ngSubmit)="onSubmit(loginForm.value)" [formGroup]="loginForm" class="login-form">
                <div class="form-group">
                    <label for="login-email">Email</label>
                    <input type="text" formControlName="email" class="form-control" id="login-email">
                </div>
                <div *ngIf="loginForm.controls.email.hasError('required') && loginForm.controls.email.touched" class="alert alert-danger">
                    Email is required
                </div>
                <div *ngIf="loginForm.controls.email.hasError('email') && loginForm.controls.email.touched" class="alert alert-danger">
                    Email is invalid
                </div>

                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="login-password">
                </div>
                <div *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.touched" class="alert alert-danger">
                    Password is required
                </div>

                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
            </form>
        </section>
    </div>
</div>
