<form (ngSubmit)="onSubmit(postForm.value)" [formGroup]="postForm">
    <div class="form-group">
        <label for="post-name">Name</label>
        <input type="text" formControlName="name" class="form-control" id="post-name">
    </div>
    <div *ngIf="postForm.controls.name.hasError('required') && postForm.controls.name.touched" class="alert alert-danger">
        Name is required
    </div>

    <div class="form-group">
        <label for="post-website">Website</label>
        <input type="text" formControlName="website" class="form-control" id="post-website">
    </div>
    <div *ngIf="postForm.controls.website.hasError('required') && postForm.controls.website.touched" class="alert alert-danger">
        Website is required
    </div>
    <div *ngIf="postForm.controls.website.hasError('url') && postForm.controls.website.touched" class="alert alert-danger">
        Website is invalid
    </div>

    <div class="form-group">
        <label for="post-description">Description</label>
        <textarea formControlName="description" class="form-control" id="post-description" rows="5"></textarea>
    </div>

    <button type="submit" [disabled]="!postForm.valid" class="btn btn-primary">Save</button>
</form>
