.widget-login {
    padding: 30px;
}

.widget {
    position: relative;
    margin-bottom: 1.875rem;
    padding: 15px 20px;
    background: #fff;
    border-radius: 0.2rem;
}

.animated {
    animation-duration: .5s;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.widget-login-logo {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 400;
}