
    <div *ngIf="values.length" class="md-chip-list"  [ngClass]="focused">
      <span *ngFor="let value of values" class="md-chip" >         
        {{value}} <md-icon (click)="removeValue(tag)" >clear</md-icon>
      </span>
      
      <span style="display:inline-block;">
        <input [(ngModel)]="labelToAdd" 
        (keyup.enter)="addValue(box.value, $event);$event.preventDefault()"
        (focus)="onFocus()" 
        (focusout)="focusOutFunction()"  
        #box />
      </span>
    </div>
    <div *ngIf="!values || !values.length">
      <md-input placeholder="Tags" #tbox  style="width:100%" (keyup.enter)="addValue(tbox.value, $event);$event.preventDefault()"></md-input>
    </div>