<div class="row">
    <div class="col-sm-12">
        <h1>About</h1>
        <p class="lead underlined">A skeleton Angular 2 application built in ES6 with Babel, Webpack, Gulp.</p>
        <ul>
            <li>Uses Babel to support class/parameter decorators and parameter type annotations.</li>
            <li>No Typescript included.</li>
            <li>Bundles JavaScript files into one file with Webpack.</li>
            <li>Automates bundling with Gulp.</li>
            <li>Automatically rebundles and refreshes on changes.</li>
            <li>Unit testing with Jasmine.</li>
            <li>End-To-End testing with Protractor.</li>
            <li>Deployment included.</li>
        </ul>
    </div>
</div>