<div class="row">
    <div class="col-sm-12">
        <h1>New post</h1>

        <form (ngSubmit)="onSubmit(postForm.value)" [ngFormModel]="postForm">

            <div class="form-group">
                <label for="post-name">Name</label>
                <input type="text" [ngFormControl]="postForm.controls['name']" #name="ngForm" class="form-control" id="post-name">
            </div>
            <div *ngIf="name.control.hasError('required') && name.control.touched" class="alert alert-danger">
                Name is required
            </div>

            <div class="form-group">
                <label for="post-website">Website</label>
                <input type="text" [ngFormControl]="postForm.controls['website']" #website="ngForm" class="form-control" id="post-website">
            </div>
            <div *ngIf="website.control.hasError('required') && website.control.touched" class="alert alert-danger">
                Website is required
            </div>
            <div *ngIf="website.control.hasError('url') && website.control.touched" class="alert alert-danger">
                Website is invalid
            </div>

            <div class="form-group">
                <label for="post-description">Description</label>
                <textarea [ngFormControl]="postForm.controls['description']" class="form-control" id="post-description" rows="5"></textarea>
            </div>

            <button type="submit" [disabled]="!postForm.valid" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>