<div class="row">
    <div class="col-sm-12">
        <h1>What Is All This About?</h1>
        <p class="lead">Hi everybody.<br/> My name is Moshe Vstorm 1000</p>
        <p>I consider myself javascript/client-side programmer</p>
        <p>This site created from <a href="https://github.com/blacksonic/angular2-babel-esnext-starter">this</a> great ES6 angular2 skeleton.
         My fork hosted <a href="https://github.com/shootermv/angular2-esnext-starter">here</a></p>
        <p>The purposes i created this site are:</p>
        <ul>
            <li>Demonstarte my client-side-programmer skills</li>
            <li>Make weird experiments and play with :
                <ul>
                  <li><a href="https://angular.io/">angular2</a></li>
                  <li><a href="https://material.angularjs.org/latest/">angular2-material</a></li>
                  <li><a href="https://www.heroku.com/">heroku</a></li>
                  <li><a href="https://github.com/">git</a></li>
                  <li><a href="">SEO</a></li>
                  <li><a href="">and more</a></li>
                </ul>
            </li>
            <li>This site containts tutorials of angular1, angular2, react (and more) i careated</li>
        </ul>    
       <p>Visit my gs500coder <a href="http://gs500coder.blogspot.co.il/">blog</a> for more stuff</p>
    </div>
</div>