<div class="list-group-item post-item col-sm-12 col-md-6" click-counter [id]="'post-' + post._id" >
    <div class="col-sm-2">
        <img class="img-circle post-thumb img-thumbnail" src="{{ post.img }}">
    </div>

    <div class="col-sm-10">
        <a href="{{ post.website || '#/article/' + post._id}}">
            <h4 class="list-group-item-heading">{{ post.name }}</h4>
        </a>
        <p class="list-group-item-text">{{ post.description | short_description }}</p>
    
        <a [routerLink]="['/Edit', { id: post._id }]" *ngIf="getLoggedIn() | async" class="btn btn-default pull-right">Edit</a>
    </div>

</div>