<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['']">Angular 2 App</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['']">Posts</a></li>
            <li><a [routerLink]="['about']">About</a></li>
            <li><a [routerLink]="['login']" *ngIf="!(getLoggedIn() | async)">Login</a></li>
            <li><a href="#" (click)="logout()" *ngIf="getLoggedIn() | async">Logout</a></li>
        </ul>
    </div>
</div>