<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['']">{{ 'pageTitle' | translate }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['']">{{ 'menu.posts' | translate }}</a></li>
            <li><a [routerLink]="['about']">{{ 'menu.about' | translate }}</a></li>
            <li><a [routerLink]="['login']" *ngIf="!(getLoggedIn() | async)">{{ 'menu.login' | translate }}</a></li>
            <li><a href="#" (click)="logout()" *ngIf="getLoggedIn() | async">{{ 'menu.logout' | translate }}</a></li>
        </ul>
    </div>
</div>
