<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="#">Posts</a></li>            
            <li class="active">{{_currentCategory}}</li>
            <a [routerLink]="['new']" *ngIf="getLoggedIn() | async" class="btn btn-primary pull-right">New post</a>
        </ol>
         
        <div class="text-center row" *ngIf="showSpinner"> 
            <md-spinner color="accent" class="app-spinner" style="height:30px;width:30px;margin:auto"></md-spinner>
        </div>
        <div class="list-group row" *ngIf="!showSpinner">           
            <post-list-item *ngFor="let post of getRemotePosts() | async" [post]="post"></post-list-item>
        </div>
    </div>
</div>